---
- name: 00 - Copy .env file to remote host
  hosts: all_guardians
  become: yes

  vars:
    source_env_file: "{{ main_repo_source_dir }}/.env"
    remote_env_file: "{{ remote_deploy_base }}/.env"

  tasks:
    - name: Task 1.0 - Create base deployment directory if it doesn't exist
      ansible.builtin.file:
        path: "{{ remote_deploy_base }}"
        state: directory
        owner: "{{ deployment_user }}"
        group: "{{ deployment_user }}"
        mode: '0755'

    - name: Task 1.1 - Copy .env file to remote base directory
      ansible.builtin.copy:
        src: "{{ source_env_file }}"
        dest: "{{ remote_env_file }}"
        owner: "{{ deployment_user }}"
        group: "{{ deployment_user }}"
        mode: '0600' # Restricted access for security