---
- import_playbook: copy-env.yml
- name: 01 - Deploy Portainer Service
  hosts: all_guardians
  become: yes # Use 'sudo' for tasks where necessary

  vars:
    project_name: "portainer-service"
    docker_compose_file_name: "docker-compose-portainer.yml"

  tasks:
    - name: Task 1.0 - Create base deployment directory on the remote node (RPi 5)
      ansible.builtin.file:
        path: "{{ remote_deploy_base }}"
        state: directory
        owner: "{{ deployment_user }}"
        group: "{{ deployment_user }}"
        mode: '0755'

    - name: Task 1.1 - Copy the Docker Compose file to the remote node (RPi 5)
      ansible.builtin.copy:
        src: "{{ main_repo_source_dir }}/docker/{{ docker_compose_file_name }}"
        dest: "{{ remote_deploy_base }}/{{ docker_compose_file_name }}"
        owner: "{{ deployment_user }}"
        group: "{{ deployment_user }}"
        mode: '0644'

    - name: Task 2.0 - Deploy service using 'sudo docker compose -p' command
      ansible.builtin.shell:
        cmd: "docker compose -f {{ docker_compose_file_name }} -p {{ project_name }} up -d"
        chdir: "{{ remote_deploy_base }}"
      register: deploy_output

    - name: Task 2.1 - Display deployment status and Portainer URL
      ansible.builtin.debug:
        msg: |
          Deployment of Portainer on {{ inventory_hostname }} finished.
          Portainer should be available at http://{{ ansible_host }}:9010 (based on your docker-compose file).
          Output: {{ deploy_output.stdout }}