# Działające i użyteczne referencje
config reference: cve       https://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: nessus    https://www.tenable.com/plugins/nessus/
config reference: exploitdb https://www.exploit-db.com/exploits/
config reference: msft      https://technet.microsoft.com/security/bulletin/
config reference: url       https://suricata.io/
